.container {
    /* The vw and vh units are percentages of the viewport */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 5em 1fr;
}